@import "../../styles/theme";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 1px;
}

.game-mode {
  position: relative;
  background: rgb(51, 204, 255);
  height: 349px;
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-top: 30px;
  }
}

.button-container {
  background: black;
  padding: 2px;
  height: 20px;
  overflow: visible;
}

.button {
  font-family: $font-family-secondary;
  font-size: 12px;
  background: linear-gradient(
    to bottom,
    rgb(222, 222, 222),
    rgb(159, 159, 159)
  );
  border: 1px solid rgb(240, 240, 240);
  border-right-color: rgb(144, 144, 144);
  border-bottom-color: rgb(144, 144, 144);
  height: 30px;
  width: 150px;
  box-shadow: 0 0 0 1px $grass-background;
  z-index: 10;
  text-align: center;

  &:active {
    background: linear-gradient(to top, rgb(222, 222, 222), rgb(159, 159, 159));
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
