.root {
  position: relative;
  font-family: serif;
  text-align: center;
  background: #99ff99;
  width: 735px;
  height: 530px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 26px;
}
